.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("@/assets/Sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footermenu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
}



