.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-image: url("@/assets/glover.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: v-bind();
    height: 100vh;
    color: floralwhite;
}
.footermenu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: coral;
}
.internship-image {
    display: inline-block;
    width: 200px;
}
.small-image {
    max-width: 100%;
    max-height: 100%;
}
.hoverable-icon {
    cursor: pointer;
    color: coral;
}
.modal {
    background-color: rgba(0, 0, 0, 0.5);
}
h2 {
    color: coral;
}
h3 {
    color: coral;
}
h4 {
    color: coral;
}
.modal-content {
    background-color: darkslategray!important;
    color: coral;
    border-style: wave;
    border-width: 2px;
    border-color: coral;
}
.modal-body {
    border: none!important;
}
#header {
    font-weight: bold;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: floralwhite;
}
nav {
    padding: 30px;
}
nav a {
    font-weight: bold;
    color: floralwhite;
}
nav a.router-link-exact-active {
    color: darkorange;
}
input {
    background-color: darkslategray!important;
    color: floralwhite!important;
}
input:focus::placeholder {
    background-color: darkslategray!important;
    color: gray!important;
}
input::placeholder {
    background-color: darkslategray!important;
    color: floralwhite!important;
}
textarea {
    background-color: darkslategray!important;
    color: floralwhite!important;
}
textarea::placeholder {
    background-color: darkslategray!important;
    color: floralwhite!important;
}
textarea:focus::placeholder {
    background-color: darkslategray!important;
    color: grey!important;
}
.btn {
    background-color: #c6613f !important;
    border-color: #c6613f;
    color: black!important;
}
.btn:hover {
    transform: scale(1.1);
    transition: all 500ms;
    border-color: #c6613f;
}
select {
    background-color: darkslategray!important;
    color: floralwhite!important;
}
