.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("@/assets/20395980.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: v-bind();
    height: 100vh;
    color: floralwhite;
}

.footermenu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: coral;
}

.internship-image {
    display: inline-block; /* To keep the image container inline */
    width: 200px; /* Set the desired width of the image container */
}

.small-image {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    max-height: 100%; /* Ensure the image doesn't exceed its container's height */
}


.hoverable-icon {
    cursor: pointer;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    color: darkslategrey;
}

#header {
    font-weight: bold;

}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: floralwhite;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: blanchedalmond;
}

nav a.router-link-exact-active {
    color: darkorange;
}
